nav {
  background-color: rgb(31, 156, 240);
  height: 60px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  padding-top: 8px;
}

nav ul li {
  color: #ffffff;
  margin: 8px;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
}

.link-item {
  text-decoration: none;
  color: #ffffff;
}
